input:focus{
    box-shadow: none !important;
}
input[type="text"],
input[type="email"], 
input[type="password"],
input[type="date"],
input[type="tel"]{
    border: 1px solid #b0b0b0;
    transition: all 0.3s;
}

.btn.submitbtn{
   background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);;
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   padding: 10px 13px;
}
.btn.submitbtn:focus{
      color: #fff !important;
}

.authInput:focus{
    position: relative;
    border: 1.5px solid #2b2a2a !important;
}
.googleauthbtn {
  position: relative;
  height: 45px;
  margin: 20px 0;
  font-size: 15px;
  font-weight: 550;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  text-align: center;
}

.googleauthbtn svg {
  position: absolute;
  left: 15px;
}
.googleauthbtn:hover{
    background-color: #eff5f4 !important;
    color: #000;
}
.combine-inputs{
  border: 1px solid #b0b0b0;
}

input:focus{
  border: 1.5px solid #000 !important;
}
